.*.swp
.ipynb_checkpoints/
client_secret.json
credentials.json
labelImg/
*/annotations.csv
*/detectedbboxes.csv
*/images/
*/model*/
*/objdetect.*.config
*/object_detection
*/object_detection.egg-info/
*/setup.py
*/slim
*/test.record
*/train.record
*/dist/
tensorflow/
ssd_mobilenet_v1_coco_2018_01_28*
